@{
    ViewData["Title"] = "Create password confirmation";
}

<header id="home">
  <!-- Color over Image -->
  <div class="color-overlay">
    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header" style="padding-top: 95px">
      <div class="row">
        <div class="col-lg-12">
          <div class="col-md-6">
            <div class="login-form" style="padding-bottom: 31%">
              <div class="col-md-8">
                <section>
                  <p>
                    Your password has been created. Please <a asp-controller="Account" asp-action="Login">Click here to log in</a>.
                  </p>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="intro-message">
          <h1>The Peoples Bank</h1>
          <hr class="intro-divider">
          <h3>Provide safe and convenient banking, <br/>and earn a reasonable profit.<br></h3>
        </div>
      </div>
      <!-- /.container -->
    </div>
  </div>
  <!-- Color over Image  End -->
</header>

<div class="container">
  <div class="row" style="text-align: center; margin-top: 20px">
    <img src="~/images/logo.png" alt="">
    <hr class="intro-divider-full">
    <h2 class="section-heading">Engage is an enterprise platform for newsrooms, contact management, and outreach: the better way to do stakeholder communication.

    </h2>
  </div>
</div>
<div class="content-section-a">

  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Get Big Publicity with a Engage Press Release</h2>
        <p class="lead">
          A engage press release can help your business or organization get reach and publicity on the web across search engines, blogs and websites in just a few simple steps.
        </p>
        <div style="padding-left: 30px" class="lead">
          <ul>
            <li>Simple.</li>
            <li>Clear.</li>
            <li>Flexible.</li>
          </ul>
        </div>
        <p class="lead">
          Engage is the technology platform that helps us to communicate our news well to opinion leaders, media and communities.
        </p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <img class="img-responsive" src="{{ asset('img/mic.png') }}" alt="">
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.content-section-a -->

<div class="content-section-b">

  <div class="container">

    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Generate Publicity Fast</h2>
        <p class="lead">We send your news to lots journalists and bloggers and hundreds of news sites. Engage gets your story where it needs to go.</p>
        <p class="lead">Engage is a growing socially-shared release service. We target more than 250,000 subscribers who can distribute your release, write about it, tweet about it and share it on Facebook. Creating an Internet sensation is one click away.</p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <img class="img-responsive" src="{{ asset('img/press-hat.jpg') }}" alt="">
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>

