@{
    ViewBag.Title = "Dashboard";
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}

@*<p>@ViewBag.Role</p>*@

@foreach (var role in ViewBag.Role)
{
    @role.ToString()
}

@if (TempData["Response"] != null)
{
    <div class="alert alert-success">
      @TempData["Response"].ToString()
    </div>
}


