@model AbcBank.Models.AccountViewModels.RegisterViewModel


@{
    ViewBag.Title = "Assign Role to User";
}

<h2>Assign User to Role</h2> <hr/>

@using (Html.BeginForm("RegisterRole", "Roles", FormMethod.Post, new { @class = "form-horizontal col-md-8", role = "form" }))
{
	<div class="form-group">
		@Html.Label("Select Role", "Select Role", new { @class = "col-md-3 control-label" })
	  <div class="col-md-9">
	    @Html.DropDownList("Name", (IEnumerable<SelectListItem>)ViewBag.Name, new {@class = "selectpicker"})
	  </div>
	</div>
    <div class="form-group">
		@Html.Label("Select User", "Select User", new { @class = "col-md-3 control-label" })
	  <div class="col-md-9">
	    @Html.DropDownList("UserName", (IEnumerable<SelectListItem>)ViewBag.UserName, new {@class = "selectpicker"})
	  </div>
	</div>

    <div class="form-group">
        <div class="col-md-offset-6 col-md-2">
            <input type="submit" value="Assign" class="btn btn-default form-control"/>
        </div>
    </div>
}

