@model IndexViewModel
@{
    ViewData["Title"] = "Manage your account";
}

<h2>@ViewData["Title"].</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>

<div>
  <h4>Change your account settings</h4><hr />

  <div class="row">
    <div class="col-md-1"><b>Password:</b></div>
    <div class="col-md-8"><a asp-controller="Manage" asp-action="ChangePassword" class="btn-bracketed">Change</a></div>
  </div><br/>
  <div class="row">
    <div class="col-md-1"><b>Roles:</b></div>
    <div class="col-md-8">
      <ul>
        @foreach (var role in ViewBag.Roles)
        {
            <li>@role.ToString()</li>
        }
      </ul>
    </div>
  </div>
  @*    <dl class="dl-horizontal">*@
@*        <dt>Password:</dt>*@
@*        <dd>*@
@*            @if (Model.HasPassword)*@
@*            {*@
@*                <a asp-controller="Manage" asp-action="ChangePassword" class="btn-bracketed">Change</a>*@
@*            }*@
@*            else*@
@*            {*@
@*                <a asp-controller="Manage" asp-action="SetPassword" class="btn-bracketed">Create</a>*@
@*            }*@
@*      </dd> <br/>*@
@*        <dt>Role(s):</dt>*@
@*      <dd>*@
@*        <ul>*@
@*          @foreach (var role in ViewBag.Roles)*@
@*          {*@
@*              <li><li/>*@
@*          }*@
@*        </ul>*@
@*      </dd>*@
@*       </dl>*@
</div>
