@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Welcome";
}

<header id="home">
  <!-- Color over Image -->
  <div class="color-overlay">
    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header" style="padding-top: 6%">
      <div class="row">
        <div class="col-lg-12">
          <div class="col-md-6">
            <div class="login-form" style="padding-bottom: 31%">
              <div class="col-md-8 intro-divider">
                <h4>Have your account in your pocket and manage it with one click.</h4>
              </div>
              <div class="col-md-8 intro-divider">
                <h4>Create an account with us and enjoy our limitless benefits.</h4>
              </div>
@*              <div class="col-md-8 intro-divider">*@
@*                <h4>Already have an Account with us? @Html.ActionLink("Login", "Login", "Account") to manage your account.</h4>*@
@*              </div>*@
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="intro-message">
          <h1>The Peoples Bank</h1>
          <hr class="intro-divider">
          <h3>Provide safe and convenient banking, <br/>and earn a reasonable profit.<br></h3>
        </div>
      </div>
      <!-- /.container -->
    </div>
  </div>
  <!-- Color over Image  End -->
</header>


<div class="container">
  <div class="row" style="text-align: center; margin-top: 20px">
    <img src="~/images/logo.png" alt="">
    <hr class="intro-divider-full">
    <h2 class="section-heading">ABC is an enterprise platform for ABC banking group. It is a distributed system that allow different users to conduct seamless banking operation successfully.

    </h2>
  </div>
</div>

